*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.mainContainer {
  display: grid;
  grid-template-rows: [navTop] 7vh [navBottom searchTop profileTop] 7vh [searchBottom mainTop] 1vh [loginTop] 1vh [registerTop] 75vh [registerBottom] 1vh [loginBottom] 1vh [mainBottom footerTop profileBottom] 7vh [footerBottom];
  grid-template-columns: [leftSide profileLeft] 15% [endUser] 5px [registerLeft] 5px [loginLeft] 1fr [loginRight] 5px [registerRight] 5px [rightColumn profileRight] 10% [rightSide];
  grid-template-areas: 
  "nav  nav    nav    nav    nav    nav    nav"
  "user search search search search search  search"
  "user main   main   main   main   main    sidebar"
  "user main   main   main   main   main    sidebar"
  "user main   main   main   main   main    sidebar"
  "user main   main   main   main   main    sidebar"
  "user main   main   main   main   main    sidebar"
  "foot foot   foot   foot   foot   foot    foot";
  /* height: 100vh; */
  width: 100vw;
  justify-content: stretch;
  align-content: stretch;
}

.blurFrame {
  pointer-events: none;
  grid-area: 2 / 1 / 8 / 8;
  z-index:1;
  transition: all 1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.514);
  /* filter: blur(2px) */
}

.accountCreation {
  grid-area: registerTop / registerLeft / registerBottom / registerRight;
  z-index: 4;
  /* background-color: re; */
  padding: 5rem;
}
.hidden {
  /* display: none; */
  transform: translate(-200%,0);
  /* visibility: hidden; */
  /* transition: all 1s ease-out; */
}
.slideIn {
  transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.shadow {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.596);
}
.login {
  grid-area: loginTop / loginLeft / loginBottom / loginRight;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  padding: 7rem 10rem;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}
.navBar {
  grid-area: nav;
  z-index: 3;
  /* background-color: tomato; */
  /* display: flex; */
  /* justify-content: space-between; */
}
.userCard {
  grid-area: user;
  z-index: 0;
}
.footer {
  grid-area: foot;
  background-color: tomato;
  display: flex;
  justify-content: space-between;
}
.itemContainer {
  grid-area: main;
  overflow: scroll;
}

.cardBody{
  display:flex;
  border: 1px solid rgb(112, 112, 112);
}
.itemName{
  margin-top: 10px;
  margin-left: 10px;
  max-height: 22px;
  font-size:20pt;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.473);
}
.cardTextContainer{
  display:flex;
  flex-flow: column;
}

.cardDescription{
  margin-left: 10px;
}

.cardPrice{
  font-size:20pt;
  position: absolute;
  right:0px;
  top:14px;
  background: #DF691A;
  color:white;
  font-weight: bold;
  padding:2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.466);
}

.search {
  grid-area: search;
}

.itemDetails {
  grid-area: loginTop / loginLeft / loginBottom / loginRight;;
  z-index: 3;
  background:yellow;
}
.sellItems {
  grid-area: registerTop / registerLeft / registerBottom / registerRight;
  /* background-color: tomato; */
  z-index: 3;
}

.userProfileContainer{
  grid-area: profileTop / profileLeft / profileBottom / profileRight;
  z-index: 10000;
  background-color: #2B3E50;
  display:flex;
}

.usernameH1{
  padding-left: 10px;
  font-style: italic;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.548);
  text-align:left;
  background: #DF691A;
  /* border-radius: 0px 10px 30px 0px; */
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);
  padding-right: 10px;
  margin-right: 10px;
}

.profileItemHead{
 color: #EBEBEB;
 font-weight: bold;
 font-style: italic;
 text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.411);
}

.profileItemsContainer{
  grid-area: registerTop / registerLeft / registerBottom / registerRight;
  background-color:#2B3E50;
  width: 75%;
  overflow: auto;
}

.profilePicture{
  margin: 10px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.507));
  border-radius: 300px;
  width: 300px;
  height:300px;
   
}

.smallItemCard{
  margin:10px;
  position: relative;
  min-width:190px;
  height:200px;
  background: rgb(37, 54, 70);
  justify-content: center;
  display: flex;
  flex-flow: column;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.473);
  max-width:190px;
}

.smallCardPrice{
  position: absolute;
  right:0px;
  top:10px;
  background: #DF691A;
  color:white;
  font-weight: bold;
  padding:2px;
  border-radius:7px 0px 0px 7px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.466);
}

.smallCardName{
  position: absolute;
  bottom: 10px;
  background:#DF691A;
  color:white;
  font-weight: bold;
   padding:2px;
   padding-right: 10px;
  border-radius:0px 7px 7px 0px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.466);

}

.smallCardImage{
  object-position: center;
  display: inline-block; 
  margin-left:auto;
  margin-right: auto; 
   position: absolute;
  vertical-align: middle;
  max-width:190px;
}

.profileItemsLists{
  display: flex;
}

.profileItemCard{
  display: block;
}

.flexItem{
  display: flex;
}

:link {
text-decoration: none;
color: inherit;
}

a:hover{
  filter: brightness(1.05);
  text-decoration: none;
  color: inherit;
  background-color: rgb(78, 93, 109);
}
.navButtons {
  display: flex;
  justify-content: space-evenly;
}
.smallMargin {
  margin: 0.5rem;
}