*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.mainContainer {
  display: grid;
  grid-template-rows: [navTop] 7vh [navBottom searchTop profileTop] 7vh [searchBottom mainTop] 1vh [loginTop] 1vh [registerTop] 75vh [registerBottom] 1vh [loginBottom] 1vh [mainBottom footerTop profileBottom] 7vh [footerBottom];
  grid-template-columns: [leftSide profileLeft] 15% [endUser] 5px [registerLeft] 5px [loginLeft] 1fr [loginRight] 5px [registerRight] 5px [rightColumn profileRight] 10% [rightSide];
  grid-template-areas: 
  "nav  nav    nav    nav    nav    nav    nav"
  "user search search search search search  search"
  "user main   main   main   main   main    sidebar"
  "user main   main   main   main   main    sidebar"
  "user main   main   main   main   main    sidebar"
  "user main   main   main   main   main    sidebar"
  "user main   main   main   main   main    sidebar"
  "foot foot   foot   foot   foot   foot    foot";
  /* height: 100vh; */
  width: 100vw;
  justify-content: stretch;
  align-content: stretch;
}

.blurFrame {
  pointer-events: none;
  grid-area: 2 / 1 / 8 / 8;
  z-index:1;
  transition: all 1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.514);
  /* filter: blur(2px) */
}

.accountCreation {
  grid-area: registerTop / registerLeft / registerBottom / registerRight;
  z-index: 4;
  /* background-color: re; */
  padding: 5rem;
}
.hidden {
  /* display: none; */
  transform: translate(-200%,0);
  /* visibility: hidden; */
  /* transition: all 1s ease-out; */
}
.slideIn {
  transition: all 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.shadow {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.596);
}
.login {
  grid-area: loginTop / loginLeft / loginBottom / loginRight;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  padding: 7rem 10rem;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}
.navBar {
  grid-area: nav;
  background-color: tomato;
  display: flex;
}
.userCard {
  grid-area: user;
  z-index: 0;
}
.footer {
  grid-area: foot;
  background-color: tomato;
}
.itemContainer {
  grid-area: main;
  overflow: scroll;
}
.search {
  grid-area: search;
}

.itemDetails {
  grid-area: loginTop / loginLeft / loginBottom / loginRight;;
  z-index: 3;
  background:yellow;
}
.sellItems {
  grid-area: registerTop / registerLeft / registerBottom / registerRight;
  background-color: tomato;
  z-index: 3;
}

.userProfileContainer{
  grid-area: profileTop / profileLeft / profileBottom / profileRight;
  z-index: 10000;
  background-color: white;
  display:flex;
}

.profileItemsContainer{
  grid-area: registerTop / registerLeft / registerBottom / registerRight;
  background-color:tan;
  width: 75%;
}

.profileItemsLists{
  display: flex;
}

.flexItem{
  display: flex;
}

a:link {
text-decoration: none;
}

a:hover{
  color: grey;
}
